body {
  margin: 0%;
  background-color: #000000;
  font-family: sans-serif;
}
.logo_container {
  display: flex;
  background-color: #f9c403;
  justify-content: space-between;
  max-height: 3rem;
}
.upper_left {
  display: flex;
  background-color: #f9c403;
  max-height: 4rem;
  align-items: center;
}
.horror_finder {
  font-family: "Carter One", cursive;
  font-size: 1.5rem;
  color: #510043;
  margin-left: 1rem;
}
.search-form {
  margin-left: 1rem;
  display: flex;
  max-height: 1.8rem;
  flex-direction: column;
}
.search-database {
  flex-shrink: 0;
}
.logo_container input[type="text"] {
  border: 2px solid #510043;
  border-radius: 1rem;
  width: 10rem;
  height: 1.4rem;
  font-family: "ibm plex mono", monospace;
}
.hl {
  background: #f9c403;
}
.logo {
  width: 4rem;
}
.upper_right {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
  background-color: #f9c403;
  justify-content: flex-end;
}
.watchlist {
  font-family: "Carter One", cursive;

  color: #510043;
}
.divider {
  color: #510043;
  font-size: 2.5rem;
  margin-bottom: 1.5%;
}
.sign_in {
  font-family: "Carter One", cursive;

  color: #510043;
  margin-right: 2rem;
}
.large_categories_container {
  display: flex;
  justify-content: center;
  width: min-content;
}
.categories_container {
  background-color: whitesmoke;
  border: 1.5px solid #808080;
  font-family: "Carter One", cursive;
  color: black;
  font-size: 2rem;
  margin-top: 2rem;
  display: block;
  text-align: center;
}
.line {
  border-bottom: 1.5px solid black;
  display: block;
}
.under_categories {
  display: flex;
  font-size: 1rem;
  flex-wrap: no-wrap;
  height: max-content;
}
.gore {
  border-right: 1.5px solid black;
  font-family: "Carter One", cursive;

  font-weight: 900;
  color: black;
}
.other {
  border-right: 0;
}
#ul0,
#ul2,
#ul3,
#ul4,
#ul5,
#ul6 {
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  align-items: flex-start;
  list-style-type: none;
  margin-left: -1rem;
  margin-right: 1rem;
  font-family: "ibm plex mono text", monospace;
}
li {
  cursor: pointer;
  margin: 5px;
  border: 1.5px solid black;
  border-radius: 0.25rem;
  padding: 5px;
  margin-left: 4%;
  text-align: center;
  padding-bottom: 3%;
  font-size: 0.8rem;
  font-family: monospace;
}
.selected {
  background-color: #000000;
  color: white;
}
.tag_empty {
  content: url("tag_empty.png");
  margin-bottom: -5%;
  width: 1.25rem;
}
img[src="tag_filled.png"] {
  margin-bottom: -5%;
  width: 1.25rem;
}
img[src="tag_3.png"] {
  margin-bottom: -5%;
  width: 1.25rem;
}
.search_container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.search {
  cursor: pointer;
  background-color: whitesmoke;
  width: 81rem;
  color: rgb(0, 0, 0);
  border: 1.5px solid #808080;
  border-radius: 0.5rem;
  height: 3rem;
  font-family: "Carter One", cursive;
  font-size: 1.5rem;
}
.larger_card_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card_container {
  background-color: whitesmoke;
  border: 1.5px solid grey;
  width: 74.5%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  color: #3f3f3f;
}
.web_card {
  width: 85%;
  background-color: rgb(235, 235, 235);
  display: flex;
  border: 2px solid rgb(227, 227, 227);
  border-radius: 0.15rem;
}
.web_poster {
  height: 13rem;
  width: 25%;
  display: flex;
  justify-content: center;
}
.web_image {
  max-width: 80%;
  margin-top: 1.2rem;
  box-shadow: 0px 0px 3px 1.75px rgb(132, 132, 132);
  margin-bottom: 0.75rem;
}
.web_info {
  width: 80%;
}
.web_upper {
  height: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.web_titleandyear {
  height: 100%;
  display: flex;
  justify-content: start;
}
.web_title {
  padding: 1rem 0.25rem 0 0;
  font-weight: bold;
  color: #000000;
}
.web_year {
  padding-top: 1rem;
}
.web_matchandwatchlist {
  height: 100%;
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding-right: 1rem;
}
.web_match_ex {
  background-color: rgba(0, 255, 255, 0.711);
  height: 0.75rem;
  padding: 0.75rem;
  color: #000000;
  font-size: 0.9rem;
}
.web_match_gr {
  background-color: rgba(0, 223, 0, 0.873);
  height: 0.75rem;
  padding: 0.75rem;
  color: #000000;
  font-size: 0.9rem;
}
.web_match_go {
  background-color: yellow;
  height: 0.75rem;
  padding: 0.75rem;
  color: #000000;
  font-size: 0.9rem;
}
img[src="watchlist.svg.png"] {
  width: 2.5rem;

  cursor: pointer;
  padding-top: 0.5rem;
}
.web_middle {
  height: 0.5rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.7rem;
}
.web_runtime {
  display: block;
  text-align: center;
  width: 8%;
}
.web_divider {
  color: #a2a2a2;
}
.web_ratings {
  display: flex;
  height: 3rem;
  gap: 1rem;
  align-items: center;
  font-size: 0.8rem;
}
img[src="imdb.svg.png"] {
  width: 2rem;
  margin-bottom: -5%;
}
img[src="rt.svg.png"] {
  width: 1rem;
  margin-bottom: -5%;
}
.web_plot {
  font-size: 0.8rem;
  margin-bottom: 0.75rem;
  margin-right: 2rem;
}
.web_lower {
  display: flex;
  gap: 1rem;
  font-size: 00.8rem;
  margin-bottom: 1rem;
}
.suggestions {
  margin: 0;
  padding: 0;
  position: relative;

  /*perspective: 20px;*/
}
.suggestions li {
  background: white;
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  transition: background 0.2s;
  display: flex;
  text-transform: capitalize;
  border: none;
  border: 0.5px solid rgb(0, 0, 0);
  width: 100%;
  border-radius: 0px;
}
